<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Flask App</h1>

    <button onclick="getCreationTime()">Get Creation Time</button>
    <button onclick="getDynamicValue()">Get Dynamic Value</button>
    <button onclick="getDockerfile()">Get Dockerfile</button>
    <button onclick="getIndex()">Get Index</button>
    <button onclick="uploadFile()">Upload File</button>
    <button onclick="downloadFile()">Download File</button>

    <input type="file" id="fileInput" style="display: none;">
    <input type="text" id="downloadFileName" placeholder="Enter filename to download">

    <div id="result"></div>
    <script src="./static/script.js"></script>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>
